.jumbotron {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
}

.jumbotron > * {
  position: relative;
  z-index: 1;
}

.titoli-jumbotron {
  margin-right: 40rem;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  color: #ffde14;
  font-weight: bold;
}
.titolo-immagine {
  color: #ffde14;
}
.didascalia-immagine {
  color: white;
}
p {
  font-size: 1.5rem;
  color: #ffde14;
  font-weight: bold;
}

.btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: black;
}

.jumbotron .carousel-container {
  opacity: 1;
  visibility: visible;
}
.carousel-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  width: 80%; /* aumenta la larghezza */
  height: 80%; /* aumenta l'altezza */
}
.carousel-item {
  transition: transform 2s ease;
}

.container {
  margin: 0px;
}
